<html>
                <head>
                               <title>
                               ¿Que pasaría si dejamos de reciclar?
                               </title>
                </head>
                <body>
              Reciclar es muy importante y más que nunca durante estas fechas navideñas que se acumulan embalajes de los regalos, botellas de vino vacías, o desechos orgánicos de las comilonas familiares. Poco a poco el reciclaje de residuos se ha convertido en nuestro país en un hábito social ampliamente aceptado y apoyado por la población. , <br>
En un principio si dejáramos de reciclar de un día para otro no veríamos grandes cambios en nuestras vidas, pero hay que tener en cuenta que, en promedio, cada individuo genera 2 kilos de basura por día. En la actualidad la población mundial es de casi 7.200 millones de personas.<br>
Cuando los materiales reciclables no se reciclan adecuadamente, la demanda de recursos naturales se eleva debido a la escasez de materiales reciclables entrantes.<br>
Por cada árbol que se planta, se talan muchos más por lo que la tasa de deforestación aumenta más rápido que la velocidad de crecimiento de los nuevos, eso significa que, si no reciclamos, por ejemplo, el papel, nos quedaremos sin arboles en muy poco tiempo.<br>
Por estas catastróficas consecuencias y por muchas otras más es necesario reciclar. La campaña de Navidad, marcada por un aumento considerable del consumo en los hogares de entre el 6 y el 8%, supone una gran oportunidad para poner a prueba nuestra conciencia sobre reciclaje.<br>
</body>
</html>
